
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


table, th, td {
    border-collapse: collapse;
    background-color: rgb(165, 211, 214);
    
}

td, th {
    padding: 15px;
    width: 150px;
}

th {
    
}

td{
    text-align: center;
}
    
.add-employee-main {
    position: relative;
    display: flex;
    justify-content: center;
    
}

.search-table {
    position: relative;
    margin-top: 20px;
    background-color: white;
    padding-bottom: 10px;
    height: 500px;
    box-shadow: 3px 3px 6px;
}

.table-container {
    display: block;
    max-height: 350px;
    overflow-y: auto;
}

.addemployee-search-container input{
    width: 100%;
    height: 50px;
    border: none;
    padding-left: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.addemployee-search-container {
    position: relative;
}

.table-search-logo {
    position: absolute;
    height: 100%;
    left: 1020px;
}

.edit-button {
    width: 90px;
    height: 20px;
    background-color: rgb(0, 255, 0);
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid gray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.delete-button {
    background-color: rgb(255, 106, 106);
    margin-top: 3px;
    width: 90px;
    height: 20px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid gray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.edit-button:hover, .delete-button:hover {
    background-color: rgb(157, 157, 157);
}



.add-employee-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 40px;
    margin-bottom: 30px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: rgb(102, 97, 164);    
}

.add-employee-button:hover {
    cursor:pointer;
    background-color: rgb(196, 196, 196);
}

.register-employee-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-register-form {
    position: relative;
    display: flex;
    justify-content: center;
    width: 700px;
    height: 450px;
    background-color: rgb(246, 246, 246);
    box-shadow: 1px 1px 3px;
    
}

.popup-form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-bottom: 50px;
}

.popup-form-container input{
    width: 100%;
    height: 30px;
    border: none;
    margin-bottom: 20px;
    outline: none;
    box-sizing: border-box;
    background-color:rgb(246, 246, 246);
    border-bottom: 1px solid gray;
}

.popup-form-container label{
    color: blue;
    font-size: 14px;
}

.x-button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
}

.x-button:hover {
    cursor: pointer;
    width: 25px;
}

.add-button {
    position: absolute;
    width: 80px;
    height: 35px;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;  
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 2px;
    color: white;
    font-size: 14px;
    background-color: rgb(102, 97, 164); 
}

.dark-background {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

.generated-qrcode-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(237, 237, 237);
}

.qrcode {
    width: 200px;
    margin-top: 30px;
}

.generated-qrcode-container img:nth-child(1){
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: 5px;
    width: 30px;
}

.generated-qrcode-container img:nth-child(1):hover {
    width: 35px;
    cursor: pointer;
}

.generated-qrcode-container h1 {
    position: absolute;
    text-align: center;
    top: 50px;
    font-family: 'Open Sans', sans-serif;
}

